@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: aliceblue;
    /* min-width: 1080px; */
}

.container{
    font-family: 'Nunito', sans-serif;
    margin: auto;
    font-weight: 900;
    font-style: italic;
    max-width: 1080px;
    
    
}


.countdown{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
    
   
    
}

.countdown-title{
    font-size: 40px;
    height:fit-content;
}

.countdown-container {
    display: flex;
    
    
}

.big-text {
    font-size: 60px;
    margin: 5px;
    margin-right: 30px;
    margin-left: 30px;
}

.countdown-el{
    text-align: center;
} 
.countdown-el span{
    font-size: 1.5rem;
    font-weight: 400;
}

.countdown-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 150px;

}

.title{
    position: relative;
    top: 250px;
    display: block;
    left: 25%;
}

.title-text1{
    display: inline-block;
    margin-right: 1%;
}
.title-text2{
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    
}
.title-text3{
    display: inline-block;
    margin-left: 1%;
}


h1{
    font-size: 40px;
    font-style: italic;
    font-weight: 200;
}

a{
    color:rgb(206, 206, 206);
    text-decoration: none;
}

a:hover{
    color: black;
}

hr{
    position: relative;
    top: 250px;
    border: 0;
    border-top: 2px solid rgb(206, 206, 206);
    
}
